.spdt{
	width: 100%;
	height: 180px !important;
	padding: 3% 5%;
	border-bottom: 10px solid #F5F5F5;
}
.sp_t1{
	width: 100%;
	height: 60px;
	display: table;
}
.sp_title{
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	float: left;
	font-weight: bold;
}
.sp_t2{
	text-align: center;
	width: 20%;
	height: 60px;
	line-height: 55px;
	float: right;
	font-size: 16px;
	margin-right: 5%;
	border: 2px solid #000000;
	border-radius: 8px;
	display: block;
}
.sp_t2 span{
	display: block;
	width: 48%;
	float: left;
	height: 56px;
}
.spt_jq{
	color: red;
	font-size: 20px;
}
.sp_but{
	margin-top: 2%;
	width: 100% !important;
	height: 40px !important;
	display: table;
	clear: both;
	margin-left: 0% !important;
}
.sp_but li{
	width: 20% !important;
	height: 40px !important;
	margin: 0% 2.5%;
	float: left;
	background: #169BD5;
	border-radius: 10px;
}
.sp_but li a{
	color: white !important;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.smain_lb{
	height: 300px !important;
}
.sml_h1{
	width: 100%;
	height: 40px !important;
	line-height: 40px;
	border-bottom: 3px solid #F5F5F5;
	font-size: 18px;
	text-align: center;
}
.sml_tj{
	width: 100%;
	height: 260px;
	border-bottom: 10px solid #F5F5F5;
}
.smlt_left{
	width: 27%;
/*	margin:0 2% 0 1%;*/
	padding-top: 2%;
	height: 100%;
	float: left;
	text-align: center;
}
.smlt_left p{
	width: 100%;
}
.smlt_left img{
	width: 180px;
	height: 180px;
	clear: both;
}
.smlt_left b{
	width: 100%;
	height: 28px;
	display: block;
	line-height: 28px;
	font-size: 20px;
}
.smlt_center{
	width: 27%;
	margin:0 2% 0 1%;
	padding-top: 5%;
	height: 100%;
	float: left;
	text-align: left;
}
.smlt_center p{
	width: 100%;
	height: 50px;
	display: table;
}
.smlt_center p span{
	width: 55%;
	height: 100%;
	display: block;
	font-size: 24px;
	line-height: 50px;
	float: left;
}
.smlt_center p b{
	width: 40%;
	height: 100%;
	line-height: 50px;
	color: red;
	float: left;
	font-size: 28px;
	font-weight: bold;
}
.sp_span{
	width: 100%;
	height: 25px;
	display: block;
	margin-left: 0% !important;
}
.sp_span a{
	font-size: 16px;
	color: #2D8FD8;
	
}
.sp_span a:hover{
	text-decoration: underline;
}
.sp_tg{
	margin-top: 3%;
}
.sp_jj{
	margin-top: 10%;
}
.spr_tx{
	width: 35%;
	background: #169BD5;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: white;
	border: 0;
	border-radius: 10px;
}
.smlt_right{
	float: left;
	width: 40%;
	height: 100%;
	padding-top: 7%;
	padding-left: 5%;
}
.sp_join{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 0;
	color: white;
	font-size: 20px;
	background: #169BD5;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4);
	transition: .8s all;
}
.sp_join:hover{
	background: #FF9913;
}
.sp_shzt{
	border-top: 15px solid #F5F5F5;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 22px;
	text-align: center;
}
